GUI-App/__pycache__
GUI-App/env
Test/*
yolov5_detecting_from_frames/in/*
yolov5_detecting_from_frames/out/*
yolov5_detecting_from_frames/in.mp4
yolov5_detecting_from_frames/out.mp4
yolov5_detecting_from_frames/yolov5s.pt